// Light Theme
// Default theme styles
@use 'theme-variables' as vars;

.theme-light {
  // Primary colors
  --md-primary: #{vars.$light-primary};
  --md-primary-container: #{vars.$light-primary-container};
  --md-on-primary: #{vars.$light-on-primary};
  --md-on-primary-container: #{vars.$light-on-primary-container};

  // Secondary colors
  --md-secondary: #{vars.$light-secondary};
  --md-secondary-container: #{vars.$light-secondary-container};
  --md-on-secondary: #{vars.$light-on-secondary};
  --md-on-secondary-container: #{vars.$light-on-secondary-container};

  // Surface colors
  --md-surface: #{vars.$surface};
  --md-surface-variant: #{vars.$surface-variant};
  --md-on-surface: #{vars.$on-surface};
  --md-on-surface-variant: #{vars.$on-surface-variant};

  // Other colors
  --md-outline: #{vars.$outline};
  --md-error: #{vars.$error};
}

